<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
<meta charset='utf-8'>
<title>ioo o ioio iii ioo o ioo</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
<link rel='stylesheet' href='/CSS/styles.css'>
<link rel='icon' href='/Images/favicon.ico'>
<link href='https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap' rel='stylesheet'>
<script src='https://kit.fontawesome.com/b960960fe5.js' crossorigin='anonymous'></script>
</head>

<body>
  <section class='colored-section' id='title'>

  <div class='container-fluid'>
  <!-- Nav Bar -->
  <nav class='navbar navbar-expand-lg navbar-dark'>
  <a class='navbar-brand' href=''>ioo o ioio iii ioo o ioo</a>
  </nav>
</div>
</section>
