body {
font-family: 'Montserrat', sans-serif;
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
}

p {
color: #8F8F8F;
}

/* containers */

.container-fluid {
padding: 1% 2%;
}


.form {
padding: 50px 20px;
margin: 17px auto;
text-decoration: none;
}

.textfield {
  width: 100%;
  height: 30vh;
  position: relative;
  display: blocks;
  padding: 1rem 10px;
  line-height: 1rem;
  text-decoration:  none;
  border-radius: 20px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 3rem;
}

textarea:focus, input:focus{
    outline: none;
}

.navbar-brand {
font-family: 'Ubuntu';
font-size: 2.5rem;
font-weight: bold;
}

.navbar {
padding: 0 0 4.5rem;
}

.nav-item {
padding: 0 18px;
}

.nav-link {
font-size: 1.2rem;
}

.download-button {
margin: 5% 3% 5% 0;
}

/* section */
.colored-section {
background-color: #1fab89;color: #FFF;
}

.white-section {
background-color: #FFF;
}

/* Heading */
.index-description {
font-family: 'Montserrat', sans-serif;
font-weight: 900;
font-size: 3.5rem;
line-height: 1.5;
}

.section-heading {
font-weight: 600;
font-size: 3rem;
line-height: 1.5;
}

.plan-name {
font-weight: 580;
}

.about-heading {
font-weight: 580;
}

/* features */

#features {
position: relative;
}

.about-box {
padding: 2%;
}


/* testimonials */

#testimonials {
background-color: #9df3c4;}

.testimonial-text {
font-weight: 600;
font-size: 3rem;
line-height: 1.5;
}

/* Pricing */

#pricing {
padding: 100px;
}

.pricing-text {
font-weight: 600;
font-size: 3rem;
line-height: 1.5;
}

.pricing-colum {
padding: 3% 2%;
}

.social-icon {
margin: 20px 10px;
}

/* Images */

.profile-image {
width: 75%;
position: relative;
bottom: 15%;
left: 5%;
align: center;
}

.iconimage {
color: #9df3c4;margin-bottom: 1rem;
}

.iconimage:hover {
color: #1fab89;}

.review-image {
width: 10%;
border-radius: 100%;
margin: 20px;
}

.press-image {
width: 15%;
margin: 20px 20px 50px;
}

/* accesability  */

@media (max-width: 1028px) {

#title {
text-align: center;
}
.title-image {
position: static;
transform: rotate(0);
width: 50%
}
}
